__pycache__/
*.py[cod]
*.pyd

.Python
venv/
env/
.venv/
myenv/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

.DS_Store
Thumbs.db

.env
.env.*
*.log

.vscode/
.idea/

build/
dist/
*.egg-info/

storage/__pycache__/
